.env
node_modules

package-lock.json
package.json

# ignore the datafiles due to large sizes
data/*.*
data/datasets/*
data/battles/*

response*

# Misc debugging tools
clean.js
stuff.js
remove_mirrors.js
brawlers.json
create_mini_dataset.js

.DS_Store